.prisoner {
  position: relative;
  top: -25px;
  width: 160px;
  height: 160px;
  border-radius: 50%;
}

.prisoner__name {
  margin-top: 5px;
  font-family: 'rainyhearts', 'sans-sarif';
  text-transform: capitalize;
  text-align: center;
  font-size: 30px;
  color: #9eb2c3;

}

.prisoner__img {
  display: block;
  margin: 0 auto;
  width: 160px;
  height: 160px;

  animation: upDown 4s linear infinite;
}

