@font-face { font-family: Notepen; src: url('../../assets/fonts/Notepen.ttf'); } 
@font-face { font-family: rainyhearts; src: url('../../assets/fonts/rainyhearts.ttf'); } 
@font-face { font-family: VCRMONO; src: url('../../assets/fonts/VCR_OSD_MONO_1.001.ttf'); } 

* {
  margin: 0;
  box-sizing: border-box;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

html {
  scroll-behavior: smooth;
  overflow: clip;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}
