.closeBtn {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 37px;
  height: 25px;
  background-color: transparent;
  background-size: cover;
  border: none;
  outline: none;
  font-size: 25px;
  background-image: url(../../assets/images/exit-cancel.png);
}
button {
  cursor: none;
}