.fullscreen-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  color: aliceblue;
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 25px;
  cursor: none;
  width: 37px;
  height: 32px;
  opacity: 0.65;
  background-image: url(/assets/images/main-menu/full-screan-btns.png);

  transition: transform 250ms;

  &:hover, &:focus {
  transform: translateY(5%);
}
}

.fullscreen-btn--closed{
  background-position: bottom;
}