.guard {
  position: relative;
  top: -25px;

  width: 160px;
  height: 160px;
  border-radius: 50%;
  overflow: hidden;
  background-color: $avatarBcg;
}

.guard-message__wrapper {
  position: absolute;
  right: 135px;
  bottom: 115px;
  font-family: 'VCRMONO', sans-serif;
  text-transform: uppercase;
  width: 450px;
  font-size: 26px;
  text-align: center;
}

.guard-message {
  background-color: #9eb2c3;
  color: #2a2c2e;
  margin-right: 15px;
  padding: 0 10px;
}

.guard-message--top {
  width: 100%;
  height: 13px;
  background-size: 435px;

  margin-right: 15px;
  background-image: url(/assets/images/game/fraze-top.png);
  background-repeat: no-repeat;
}

.guard-message--bottom {
  width: 100%;
  height: 28px;
  background-size: 450px;;
  background-image: url(/assets/images/game/fraze-bottom.png);
  background-repeat: no-repeat;
}



.guard__picture {
  display: block;
  margin: 0 auto;
  width: 160px;
  height: 160px;
  object-fit: cover;
  border-radius: 50%;

  animation: upDown 4s linear infinite;
}

.guard__name {
  margin-top: 5px;
  font-family: 'rainyhearts', 'sans-sarif';
  text-transform: capitalize;
  text-align: center;
  font-size: 30px;
  color: #ac827d
}
