.pause-button {
  margin-top: auto;
  margin-bottom: auto;
  height: 37px;
  width: 40px;
  background-image: url(/assets/images/game/play-pause-sm.png);
  background-color: transparent;
  border: none;
  transition: transform 250ms;

  &:hover, &:focus {
  transform: translateY(5%);
}
}

.pause-button.paused {
  background-position: bottom;
}