.game-info-block{
  height: 260px;
  background-position: 0 35px;
  background-repeat: repeat-x;
  margin-top: auto;
  display: flex;
  background-image: url(/assets/images/game/game-field.png);
  padding-left: 60px;
  padding-right: 60px;
  justify-content: space-between;

}