.envelope{
  background-image: url(/assets/images/game/hint.png);
  width: 100px;
  height: 69px;
  margin: auto 0;
  background-color: transparent;
  background-size: contain;
  border: none;
  transition: transform 250ms;

  &:hover, &:focus {
  transform: translateY(5%);
}
}