:root {
  cursor: none;
  --cursorX: 50vw;
  --cursorY: 50vh;
}
body:before {
  z-index: 100;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  pointer-events: none;
 background: radial-gradient(
    circle 15vh at var(--cursorX) var(--cursorY),
   rgba(243, 240, 240, 0.7),
    rgba(134, 132, 132, 0.5) 4%,
    rgba(148, 148, 148, 0.1) 80%,
    rgba(0, 0, 0, .3) 100%
  ) 
}

.light-of:before{
   background: radial-gradient(
    circle 15vh at var(--cursorX) var(--cursorY),
       rgba(243, 240, 240, 0.7) ,
    rgba(0, 0, 0, .3) 4%,
    rgba(0, 0, 0, .3) 100%,
    rgba(0, 0, 0, .3) 100%
  ) 
}
