.menuContainer {
  position: relative;
  overflow: clip;
  height: 100vh;
  margin: 0 auto;
  background-image: url(/assets/images/main-menu/background.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #051e37;
}

// .bgImg {
//   position: relative;
//   top: 20px;
//   overflow: clip;
//   margin: auto;
//   height: 90vh;
//   background-color: transparent;
//   margin: 0 auto;
//   background-image: url(../../../assets/images/In_the_menu_on_the_left_click_on_your_class_year_to_look_up_inf.png);
//   background-size: contain;
//   background-position: center;
//   background-repeat: no-repeat;
//   // background-color: #051e37;
// }

.gameTitle {
  position: relative;
  background-repeat: no-repeat;
  background-size: contain;
  right: -2.5%;
  top: 22%;
  display: flex;
  margin: 0 auto;
  width: 392px;
  height: 178px;
  justify-content: center;
  background-image: url(/assets/images/main-menu/prisoners-logo.png);
}



