.menuContainer {
  position: relative;
  overflow: clip;
  height: 100vh;
  margin: 0 auto;
  background-image: url(../../../img/background.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #051e37;
}

.gameTitle {
  position: relative;
  right: -2.5%;
  top: 27%;
  display: flex;
  margin: 0 auto;
  width: 25%;
  height: 25%;
  justify-content: center;
}

