:root {
  cursor: none;
  --cursorX: 50vw;
  --cursorY: 50vh;
}
:root:before {
  z-index: 1;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  pointer-events: none;
  background: radial-gradient(
    circle 10vmax at var(--cursorX) var(--cursorY),
    rgba(255, 255, 255, 0.555) 1%,
    rgba(255, 255, 255, 0.301) 2%,
    rgba(114, 114, 114, 0.349) 10%,
    rgba(41, 40, 40, 0.3) 30%,
    rgba(148, 148, 148, 0.1) 80%,
    rgba(0, 0, 0, .7) 100%
  )
}