.menuBtn {
  position: relative;
  
  display: block;
  margin-inline: auto;
  width: 70px;
  height: 40px;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
  cursor: none;
  transition: transform 200ms ease-out, filter 100ms ease-out;

  &:hover, &:focus {
    transform: translateY(5%);
    filter: drop-shadow(0 1px 1px #000000) drop-shadow(0 1px 2px #000000) drop-shadow(0 1px 3px #000000) drop-shadow(0 1px 4px #000000)  
  }
}

.startBtn {
  top: 24%;
  left: 20px;
  background-image: url(./../../../img/main-menu/start.png);
}
.instructionsBtn {
  top: 26%;
  left: 60px;
  background-image: url(./../../../img/main-menu/rules.png);
}
.aboutBtn {
  top: 28%;
  left: 95px;
  background-image: url(./../../../img/main-menu/about.png);
}

.soundBtn {
  position: absolute;
  top: 0;
  left: 70%;
  width: 20px;
  height: 40px;
  background-image: url(./../../../img/main-menu/sound.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
}