.menuContainer {
  position: relative;
  overflow: clip;
  height: 100vh;
  max-width: 1080px;
  margin: 0 auto;
  background-image: url(../../img/background.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.gameTitle {
  display: flex;

  position: absolute;
  margin: 0 auto;
  top: 28vh;
  left: 39vw;
  width: 40%;
  height: 25%;
}

.TitleLetter {
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
}

// .TitleLetterP {
//   position: relative;
//   top: 1.5vh;
//   width: 13%;
//   background-image: url(../../img/png/p.png)
// }

// .TitleLetterR {
//   width: 11.5%;
//   background-image: url(../../img/png/r.png)
// }

// .TitleLetterI {
//   width: 11.5%;
//   background-image: url(../../img/png/i.png)
// }

// .TitleLetterS {
//   width: 11.5%;
//   background-image: url(../../img/png/s.png)
// }

// .TitleLetterO {
//   width: 11.5%;
//   background-image: url(../../img/png/o.png)
// }

// .TitleLetterN {
//   width: 11.5%;
//   background-image: url(../../img/png/n.png)
// }

// .TitleLetterE {
//   width: 11.5%;
//   background-image: url(../../img/png/e.png)
// }