.menuBtn {
  position: relative;
  
  display: block;
  margin-inline: auto;
  width: 40px;
  height: 20px;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
}

.startBtn {
  top: 25%;
  left: 20px;
  background-image: url(./../../img/main-menu/start.png);
}
.instructionsBtn {
  top: 27%;
  left: 50px;
  background-image: url(./../../img/main-menu/rules.png);
}
.aboutBtn {
  top: 29%;
  left: 75px;
  background-image: url(./../../img/main-menu/about.png);
}

.soundBtn {
  width: 20px;
  height: 40px;
  background-image: url(./../../img/main-menu/sound.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
}