.game-buttons {
  display: flex;
  gap: 7px;
  justify-content: center;
  margin-top: 10px;
  position: absolute;
  width: 100%;
  & button {
    background-color: transparent;
    border: none;
    outline: none;

    font-family: VCRMONO, sans-serif;
    text-transform: uppercase;
    color: $grey;
    font-size: 20px;

    transition: transform 250ms;

  &:hover, &:focus {
  transform: translateY(5%);
}
  }
}