.confirm {
  width: 600px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-image: url(/assets/images/game/confirm-window/confirm_window.png);
  background-size: contain;
  font-family: yoster;
  font-size: 50px;
  color: rgb(153, 148, 148);
  padding: 60px;
  padding-top: 110px;
  background-repeat: no-repeat;
}
.confirm__text {
  text-align: center;
  width: 100%;
  margin-bottom: 30px;
}
.confirm__button {
  transition: transform 250ms;
  width: 60px;
  height: 60px;
  background-color: red;
  margin: 0 60px;
  background-size: contain;
  background-repeat: no-repeat;
  &:hover, &:focus {
  transform: translateY(5%);
  
}

&.yes-btn{
  background-image: url(/assets/images/game/confirm-window/yes.png);
  margin-right: auto;
  width: 70px;
  height: 70px;
}

&.no-btn{
  background-image: url(/assets/images/game/confirm-window/no.png);
}
}