.rules {
    &Div {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 810px;
    height: 456px;
    background-image: url(../../assets/images/rules/envelope.png);
    background-size: contain;
    background-repeat: no-repeat;
  }

  &Arrow {
    position: absolute;
    bottom: 20px;
    width: 60px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    outline: none;
    transition: transform 250ms;

  &:hover, &:focus {
  transform: translateY(5%);
}
  }
  &Left {
    left: 25px;
    background-image: url(../../assets/images/rules/arrow-left.png);
  }

  &Right {
    right: 25px;
    background-image: url(../../assets/images/rules/arrow-right.png);
  }

  &Text {
    font-family: 'Notepen', sans-serif;
    box-sizing: border-box;
    font-size: 43px;
    margin-left: 40px;
    margin-top: 20px;
    padding-left: 100px;
    padding-top: 24px;
    padding-right: 16px;
    padding-bottom: 50px;
    width: 700px;
    height: 400px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../../assets/images/rules/pages/page.png);
  }
}

.youtubeVideo{
  cursor: pointer;
  z-index: 0;
}